#carousel-wrapper {
    padding-right: 0 !important;
    padding-left: 0 !important;

}
.footer {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.detail {
    padding-top: 15px;
}
.card {
    background-color: #f8fafc;
    border: none !important;
    border-radius: unset !important;

}

.card-footer {
    background-color: #f8fafc !important;
    border-top: 0px !important;
}

.register-button {
    padding: 0 !important;
}

.register-link {
    padding: 5px !important;
    color: white !important;

}

/* Stripe CSS */
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;}
